# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual Environment
venv/

# IDE
.idea/

# Data directories
data/raw/
data/processed/

# Model checkpoints
checkpoints/

# PyTorch
*.pth
*.pt

# Jupyter Notebook
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

*.csv